# Supabase 配置 (請在下方填入您的專案資訊)
VITE_SUPABASE_URL=https://cakxwchrofktuxkqlsrv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNha3h3Y2hyb2ZrdHV4a3Fsc3J2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MDUxNjksImV4cCI6MjA5MjA4MTE2OX0.TglWlcBsUNRWrrcBN7T7mX77_G9BRljh9a37MoNkolI
